body, html {
    margin: 0;
    padding: 0;
  }
  
  #unity-container {
    position: absolute;
  }
  
  #unity-container.unity-desktop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  #unity-canvas {
    background: #231F20;
  }
  
  .unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
  }
  
  #unity-loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background_veeminer.jpg') no-repeat center center;
    background-size: cover;
    display: block;
  }
  
  .spinner {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loading-text {
        position: absolute;
        top: 66%;
        left: 53%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
        color: white;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                     0 0 10px rgba(255, 255, 255, 0.6);
    }    

  .loading-logo {
    position: absolute;
    bottom: 20px;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    height: auto;
  }
  
  #unity-footer {
    position: relative;
  }
  
  .unity-mobile #unity-footer {
    display: none;
  }
  
  #unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center;
  }
  
  #unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
  }
  
  #unity-fullscreen-button {
    cursor: pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
  }
  
  #unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
  }  